$header-color:  #fca311;
$header-color-secondary:  #fca311;
$header-color-hover: darken($header-color, 20%);

/* ==========================================================================
Developement Ribbon
========================================================================== */


/* ==========================================================================
Navbar styles
========================================================================== */


.navbar-version {
  font-size: 10px;
  color: $header-color-secondary;
}

.brand-logo {
  &:hover {
    text-decoration: none;
  }
  .brand-icon {
    height: 35px;
    img {
      height: 80px;
    }
    padding: 10px;
    padding-bottom: 30px;
  }
}

.brand-title {
  font-size: 24px;
  color: $header-color;
  &:hover {
    color: $header-color-hover;
    text-decoration: none;
  }
}


.junin {
  background-color:  #fca311;
  flex-direction: row;
  display: -ms-inline-grid;
  padding-bottom: 30px;
  justify-content: left;
  padding-right: 10px;
}

.navegado {
  flex-direction: row;
}

.hometitle {
  text-decoration: none;
  padding-top: 30px;
}

.pesquisar {
  height: 20px;
  width: 300px;
}

.perfilFoto {
  padding-right: 10px;
  height: 50px;
    img {
      height: 70px;
    }
}

.foto {
  height: 60px;
}

@media  (max-width: 1000px) {
  .pesquisar {
    height: 25px;
    width: 200px;
  }
}
