body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../content/images/back.jpg")
}

.container {
    background-color:rgba(252, 163, 17, 0.99);
    padding: 30px;
}

.Enquadramento {
    height: 30px; padding: 50px;
}